/* 版权链接去掉下划线 */

.layout_post .post-copyright .post-copyright-info a {
    text-decoration: none;
}



/* 博主昵称颜色 */
.author-info__name {
    color: #ff7242;
}



/* 页脚透明 */

#footer {
    background: transparent !important;
}



/*页脚自定义字段字体颜色*/
/* 也就是配置文件里的footer_custom_text */
.footer_custom_text {
    color: #00c4b6;
    font-size:15px;
    font-weight:500
}

/* 滚动条 */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #7dd7d7;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #e58a8a;
}




#footer字体
.copyright{
    color: #B800F5;
    font-size:24px;
}

#footer-wrap{
    color: #B800F5;
    font-size:15px;
}


.fooStr{
    margin: 0 0 0 0;
}

#fooicon{
    color: #ff0000;
}

